body {
    background:#E3D1E2;
    font-family:Arial, Helvetica, sans-serif;
}

.assignments {
    display:flex;
    flex-wrap:wrap;
}

.assignment {
    width:22%;
    padding:10px;
    margin:10px;
    padding:20px 10px;
    background:#B58BAB;
    border-radius:5px;
}

.assignment img {
    width:200px;
    margin:10px;
    border: 4px solid #FFF;
    display:block;
    margin:auto;
}

.assignment img:hover {
    border:4px dashed #F25C69;
}

h1 {
    color:#694364;
    text-align:center;
}

h1:hover {
    color:#F25C69;
}
h2 {
    text-align:center;
}

a {
    text-decoration:none;
    color:#FFF
}

a:hover {
    color:#F25C69;
}